// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-form{
    background-image: url(white.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;   
    background-image:url(white.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

// show
.user-box{
    margin:1% 1%;
    background-image: url(white.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
}

.user-box h2{
    border-top:solid  gray ;
    margin:1% 0;
    padding-top: 1%;
}

// edit
.edit-box{
    text-align: center;
    background-image: url(white.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}