// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index
.container-fluid{
    background-image:url(fuji.jpg) ;
    padding: 5% 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-image:url(white.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.box a:hover { color: gray } 


.item{
    width:30%;
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin:1% 0;
}

.word{
    text-align: center;
}

.word h1{
    margin-bottom: 0;
    color: black;
}

.word p{
    color:gray;
    margin-bottom: 0;
}

.meaning{
    text-align: center;
    color: black;
}

.pagination{
    justify-content: center;
    background-image:url(white.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    margin:0 0.5%;
}

// meaning
.meaning-box{
    background-image:url("momizi.jpg") ;
}

// .form-box{
//     text-align: center;
//     background-image:url("momizi.jpg") ;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed; 
// }

.ine-order{
    text-align: center;
    background-image:url(white.jpg) ;
    margin-bottom: -1%;
}

.meaning-item{
    justify-content: space-between;
}

.user-name{
    font-weight: bold;
}

.index-link{
    text-align: center;
    background-image:url(white.jpg) ; 
}

